<mat-toolbar color="primary" class="expanded-toolbar">
    <span>
      <button mat-button routerLink="/home">{{title}}</button>
      <button mat-button routerLink="/home"><mat-icon>home</mat-icon></button>
    </span>
    <button mat-button routerLink="/" class="logout-cls">
    <mat-icon>logout</mat-icon>
    </button>
    <button mat-button routerLink="/calculator"><mat-icon>dialpad</mat-icon></button>
    
      
    
  </mat-toolbar>