mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}
.signbtncls{
  position: relative;
  left: 20px;
}
.new-cls{
  position: relative;
    left: 20px;
}