<mat-card>
  <mat-card-content>
    <form #registrationForm="ngForm"(ngSubmit)="onSubmit()">
      <h2>Registration </h2>
      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="firstname" name="firstname" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput="text" placeholder="Last Name" [(ngModel)]="lastname" name="lastname" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="email"[(ngModel)]="email" name="email" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="mobile number" [(ngModel)]="mobilenumber" name="mobilenumber" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>states</mat-label>
        <select matNativeControl required>
          <option value="none">select</option>
          <option value="andhrapradesh ">andhrapradesh</option>
          <option value="telanga">telanga</option>
          <option value="pujab">punjab</option>
          <option value="banglore">banglore</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder=" password" [(ngModel)]="password" name="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder=" confirm password" [(ngModel)]="confirmpassword" name="confirmpassword"required> 
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button (click)="registerclick()" color="primary" >Register</button>
    
    </form>
  </mat-card-content>
</mat-card>
