
<mat-toolbar color="primary" class="expanded-toolbar">
 
  
    
  
</mat-toolbar>
<mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-error *ngIf="!loginValid">
          The username and password were not recognized
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="username" name="username" [disabled]="!isVerify" required>
          <mat-error>
            This Field is Required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" [disabled]="!isVerify" required>
          <mat-error>
            This Field is Required
          </mat-error>
        </mat-form-field>
        <a class="div-cls" *ngIf="isforgot"  href="/forgotpassword">Forgot Password? </a>


        <mat-form-field *ngIf = "showOTP">
          <input matInput placeholder="OTP" [(ngModel)]="enteredotp" name="enteredotp" required>
          <div class="otp-cls" *ngIf = "showValidOtp">
            Enter Valid OTP
          </div>
        </mat-form-field>
        <button class="login-cls" mat-raised-button color="primary" *ngIf = "isVerify">Login</button>

        <button class="signbtncls" mat-raised-button color="primary" *ngIf = "!isVerify" (click)="verifyuser()">Verify</button>
        <a class class="new-cls" *ngIf="isuser"  mat-button href="/registration">New User</a>
      </form>
    </mat-card-content>
  </mat-card>
