mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }
  .signbtncls{
    position: relative;
    left: 10px;
  }
  .div-cls{
    position: relative;
    left: 240px;
    top: -23px;
    font-size: x-small;
  }
  .login-cls{
    position: relative;
    left: -25px;
  }
  .new-cls{
    position: relative;
    left: -20px;
  }
  .otp-cls{
    position: relative;
    top: 25px;
    color: red;
    font-size: 12px;
  }