mat-card {
    margin: 2em auto;
    text-align: center;
    position: relative;
    top: 50px;
    width: 400px;
    background-color:lightgray;
  }
  
  mat-form-field {
    display: block;
  }
  .post-cls {
    font-size: 40px;
    font-family: emoji;
  }
  .signbtncls {
    position: relative;
    left: 10px;
  }
  /* .pin-cls {
    position: relative;
    top: 25px;
    color: red;
    font-size: 12px;
  } */
  /* table {
    width: 100%;
  } */
  .table-cls {
    position: relative;
    left: 210px;
    top: 50px;
    width: 1000px;
  }
  .page-cls {
    position: relative;
    bottom: -65px;
    left: -117px;
    width: 1350px
  }
  