<!DOCTYPE html>
<html>
<head>
</head>
<app-header></app-header>
<body>
    <div>
      <!-- <img src="{{imageSrc}}" alt="{{imageAlt}}" /> -->
        <mat-card>
            <mat-card-content>
              <form>
                <h1><b class="post-cls" >Postal Details</b></h1><br>
                <!-- <mat-error *ngIf="!loginValid">
                  The username and password were not recognized
                </mat-error> -->
                <mat-form-field>
                  <input matInput placeholder="Pin-Code" [(ngModel)]="pincode" name="pincode" required>
                  <div class="pin-cls" *ngIf = "showError" >
                    This Field is Required
                  </div>
                </mat-form-field>
                <button class="signbtncls" (click)="postclick()" mat-raised-button color="primary">Submit</button>
              </form>
            </mat-card-content>
        </mat-card>
    </div>
    

      <!-- <div class="" style="position: relative; top: 70px;"> -->
        <!-- <table *ngIf="isTable" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="branchtype">
              <th mat-header-cell *matHeaderCellDef> Branch Type </th>
              <td mat-cell *matCellDef="let element"> {{element.branchtype}} </td>
            </ng-container>
            <ng-container matColumnDef="district">
              <th mat-header-cell *matHeaderCellDef> District </th>
              <td mat-cell *matCellDef="let element"> {{element.district}} </td>
            </ng-container>
            <ng-container matColumnDef="block">
              <th mat-header-cell *matHeaderCellDef> Block </th>
              <td mat-cell *matCellDef="let element"> {{element.block}} </td>
            </ng-container>
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> State </th>
                <td mat-cell *matCellDef="let element"> {{element.state}} </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> -->
        <!-- </div> -->


        <div *ngIf="isTable" class="mat-elevation-z8">
        <table class="table-cls" mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
          </ng-container>

          <ng-container matColumnDef="BranchType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch Type </th>
              <td mat-cell *matCellDef="let element"> {{element.BranchType}} </td>
          </ng-container>

          <ng-container matColumnDef="District">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>District </th>
              <td mat-cell *matCellDef="let element"> {{element.District}} </td>
          </ng-container>

          <ng-container matColumnDef="Block">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Block</th>
              <td mat-cell *matCellDef="let element"> {{element.Block}} </td>
          </ng-container>

          <ng-container matColumnDef="State">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> State</th>
              <td mat-cell *matCellDef="let element"> {{element.State}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
      </table>
      <div class="page-cls">
        <mat-paginator [length]="18"
              [pageSize]="6"
              [pageSizeOptions]="[6, 12, 18]"
              aria-label="Select page">
          </mat-paginator>
      </div>
      </div>
</body>
</html>