<!DOCTYPE html>
<html>
<head>

</head>
<app-header></app-header>
<body>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened >
      <!-- <div >
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      </div> -->
      <!-- <mat-drawer-container class="example-container" autosize> -->
        <!-- <mat-drawer #drawer class="example-sidenav" mode="side"> -->
          <div class="example-button-container">
            <button mat-stroked-button class="menu-cls" (click)="menubtn()" color="primary">Menu</button>
          </div><br>
        <div *ngIf="showFiller">
          <button class="menu-cls" (click)="dashclick()" color="primary" mat-raised-button>Dashboard</button><br><br>
          <button class="menu-cls" (click)="shortfilmclick()" color="primary" mat-raised-button>Short Films</button><br><br>
          <button class="menu-cls" (click)="mostviewedsf()" color="primary" mat-raised-button>Most Viewed SF</button><br><br>          
          <button class="menu-cls" (click)="mostlikedsf()" color="primary" mat-raised-button>Most Liked SF</button><br><br>
          <button class="menu-cls" (click)="usersclick()" color="primary" mat-raised-button>Users</button><br><br>
          <button class="menu-cls" (click)="commentsclick()" color="primary" mat-raised-button>Comments</button><br><br>
          <button class="menu-cls" (click)="rolesclick()" color="primary" mat-raised-button>Roles</button><br><br>
          <button class="menu-cls" color="primary" mat-raised-button>Audit</button><br><br>
          <button class="menu-cls" color="primary" mat-raised-button>Edit Reward Points</button><br><br>
        </div>
        <!-- </mat-drawer> -->
    
        <!-- <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button>
        </div> -->
      
      <!-- </mat-drawer-container> -->
    </mat-drawer>
    <mat-drawer-content>
      <div *ngIf="showDashboard">
        <h1><b class="dash-cls">Dashboard</b></h1>
      </div>
      <div *ngIf="showShortfilms">
        <h1><b class="dash-cls">Short Films</b></h1>
      </div>
      <div *ngIf="showMostViewed">
        <h1><b class="dash-cls">Most Viewed Short Films</b></h1>
      </div>
      <div *ngIf="showMostLiked">
        <h1><b class="dash-cls">Most Liked Short Films</b></h1>
      </div>
      <div *ngIf="showUsers">
        <h1><b class="dash-cls">Users</b></h1>
      </div><br><br>
      <div *ngIf="showComments">
        <h1><b class="dash-cls">Comments</b></h1>
      </div>
      <div *ngIf="showRole">
        <h1><b class="dash-cls">Roles</b></h1>
      </div>
      <div *ngIf="showUsers">
      <table>
        <tr>
          <th>S.No</th><th>First Name</th><th>Last Name</th><th>E-Mail</th><th>Mobile Number</th><th>DOB</th><th>Role</th>
        </tr>
        <tbody>
        <tr *ngFor="let n of userdata">
          <td>{{n.sno}}</td><td>{{n.firstname}}</td><td>{{n.lastname}}</td><td>{{n.email}}</td><td>{{n.mobile}}</td><td>{{n.dob}}</td><td>{{n.role}}</td>
        </tr>
        </tbody>
      </table> 
      </div>   
    </mat-drawer-content>
  </mat-drawer-container>
