.example-container {
    width: 1500px;
    height: 675px;
    margin: 10px;
    /* border: 1px solid #555; */
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .example-sidenav {
    padding: 20px;
  }
  .menu-cls {
    width: 250px;
  }
  /* .menubtn-cls {
    padding: 10px;
    margin-left: 10px;
  } */
  .menu-btn {
    position: relative;
    width: 300px;
    color:#080808;
    opacity: 1;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 250px;
    left: -65px;
  }
  /* .example-button-row {
    display: table-cell;
    width: 490px;
  } */
  .dash-cls {
    position: relative;
    left: -85px;
    top: 25px;
    font-family: monospace;
    font-size: xxx-large;
  }
  .menu-div {
    position: relative;
    left: -75px;
  }
  .btn-cls {
    position: relative;
    left: -65px;
    top: -1px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    position: relative;
    left: 30px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }